
.quiz {
  font-size: 2rem;
  margin-bottom: 30px;
  // .quiz__container
  &__container {}
  // .quiz__bird
  &__bird {
  }
}

.quiz-type {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  
  
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Pacifico", coursive;
    color: #c7aad5;
    padding: 8px 12px;
    flex: 1 1 16%;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(55, 118, 161, .5);;
    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: #3776a1;
    //   opacity: .5;
    //   z-index: -1;
    // }
  }
}

.quiz-type_active {
    background-color: #7512a5;
}
.bird {
}
.bird-info {
  position: relative;
  z-index: 5;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3776a1;
    opacity: 0.5;
  }
  // .bird-info__wrapper
  &__wrapper {
    @include flex(normal, normal, $gap: 2.5%);
    position: relative;
    z-index: 5;
    padding: 30px;
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 20px;
      padding: 15px;
    }
  }
  // .bird-info__picture
  &__picture {
    @media (max-width: $mobile) {
      align-self: center;
    }
  }
  // .bird-info__body
  &__body {
    @include flex(space-between, normal);
    flex-grow: 1;
    flex-direction: column;
  }
  // .bird-info__name
  &__name {
    margin-bottom: 20px;
    @media (max-width: $mobile) {
      align-self: center;
    }
  }
  // .bird-info__player
  &__player {}
}
.bird-picture {
  width: 200px;
  height: 155px;
  background-color: lightpink;
  border-radius: 20px;
  overflow: hidden;
  // .bird-picture__img
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 22%;
  }
}
.bird-name {
}
.player {
  // .player__button
  &__button {}
  // .player__timebar
  &__timebar {}
  // .player__current-time
  &__current-time {}
  // .player__all-time
  &__all-time {}
}
.timebar {
  // .timebar__slider
  &__slider {}
}

.bird-content {
  @include flex(space-between, normal, $gap: 30px);
  margin-bottom: 30px;
  @media (max-width: 1100px) {
    flex-direction: column;
  }
}

.bird-content__voices-wrapper,
.bird-content__description-wrapper {
  @extend %two-colls-el;
  padding: 30px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #3776a1;
    opacity: .5;
  }
}
.bird-description__species {
  flex: 1 0 100%;
}
.voices,
.description {
  position: relative;
  z-index: 5;
}

.voices{
  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
  &-item {
    padding: 15px 20px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .75;
      background-color: #4688b4;
      border-radius: 10px;
      z-index: -1;
      transition: background-color .3s;
    }
    &:hover::before {
      background-color: lighten(#4688b4, 10%);
    }
    &:hover {
      cursor: pointer;
    }
    &__icon {
      display: inline-block;
      height: 10px;
      width: 10px;
      margin-right: 10px;
      border: 2px solid white;
      border-radius: 50%;
      &_right {
        background-color: #13ba13;
        border: 0px;
      }
      &_wrong {
        background-color: #9d0000;
        border: 0px;
      }
    }
  }
}

.bird-win {
  position: relative;
  z-index: 5;
  padding: 64px 32px;
  &::before {
    content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .5;
      background-color: #3776a1;
      opacity: 0.5;
      border-radius: 10px;
      z-index: -1;
  }
  // .bird-win__text
  &__text {
    text-align: center;
    margin-bottom: 90px;
  }
  // .bird-win__title
  &__title {
    margin-bottom: 20px;
    @media (max-width: 500px) {
      font-size: 32px;
    }
  }
  // .bird-win__result
  &__result {}
  // .bird-win__button
  &__button {
    padding: 20px 15px;
    text-align: center;
  }
}

.result {
}
.button {
}

.coll {
  flex-direction: column;
  flex-wrap: wrap;
  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
}